<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
            <script src="{% static 'kumon/jquery.min.js' %}"></script>
            <script src="{% static 'kumon/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <!-- kau na magayus ne2 -->
        <div>
            <form method='POST' class="post-form" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form %}

            {% if field.birthdate == '' %}
            <input type="date" id="date" name="q" class="form-control">
            {% else %}
            <label>{{field.label_tag}}</label>
            {{field}}<br>
            {%endif %}
            {% endfor %}
                <br>
            <button type='submit'>Save</button>
            <button type = "button" ><a href="/kumon/students">Go Back</a></button>
            </form>
        </div>
    </body>
</html>
